@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: ubuntu, sans-serif;
    text-align: justify;
    scroll-behavior: smooth;
    background-color: #f9f3f3;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 250px 0px 250px;
    font-size: large;
}
span{
    color: #f8456c;
}
nav h2{
    padding: 20px;
    
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    margin: 20px;
    color: black;
}
nav ul li:hover{
    color: #f8456c;
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main h2{
    margin-top: 100px;
    font-size: xx-large;
}
.main img{
    margin: 50px;
    width: 100px;
}


.ready{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px 300px 80px 300px;
    padding: 60px;
    border-radius: 15px;
    background-color: #f8456c;
}
.ready p{
    background-color: #f8456c;
    color: #f9f3f3;
}
.ready button{
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: aliceblue;
}
.ready button a{
    text-decoration: none;
    color: #f8456c;
    font-size: 15px;
}
.ready button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.logob img{
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
}
.logo img{
    width: 20px;
    margin: 5px 7px;
}
.logob img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.logo h3{
    display: flex;
    justify-content: center;
}
.line{
    margin: 10px 200px;
}
.last{
    display: flex;
    justify-content: space-between;
    margin: 60px 200px 0px 200px ;
}
.last h3{
    margin: 10px 0px;
}
.lastp p{
    width: 300px;
    margin-bottom: 50px;
    color: #6f6f6f;
}
.lastc p a{
    color: #6f6f6f;
    text-decoration: none;
}
.final{
    display: flex;
    justify-content: space-between;
    margin: 50px 250px;
    color: #6f6f6f;
}